body {
	margin: 0;
}

#my-custom-video-1,
#my-custom-video-4 {
	width: 600px;
	height: 337px;
	margin: 30px auto;
}

#my-custom-video-2 {
	width: 400px;
	height: 222px;
	margin: 30px auto;
}

#my-custom-video-3 {
	width: 280px;
	height: 157px;
	margin: 30px auto;
}
