@import "assets/css/main-defines.scss";

$color-text: white;
$color-details: rgba(245, 143, 25, 0.8);

.video-js {
	.vjs-button {
		cursor: pointer;

		> svg {
			fill: $color-text;
			width: 1.5em;
		}
	}
}

.video-js.ctvVideo {
	align-items: center;
	justify-content: center;
	display: flex !important;
	height: 100%;
	width: 100%;
	overflow: hidden;

	&.vjs-paused {
		.vjs-big-play-button {
			display: block;
		}
	}

	&.vjs-error {
		> button {
			display: none !important;
		}
	}

	> .vjs-poster {
		background-size: cover;
	}

	.vjs-big-play-button {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 98px;
		height: 98px;
		line-height: 98px;
		font-size: 49px;

		@media only screen and (max-width: 768px) {
			width: 88px;
			height: 88px;
			line-height: 88px;
			font-size: 44px;
		}

		.small-controls > & {
			width: 60px;
			height: 60px;
			line-height: 60px;
			font-size: 30px;
		}
	}

	.vjs-control-bar {
		font-size: 14px !important;
		opacity: 1 !important;
		transform: translateY(100%);
		transition: transform 1s !important;
		justify-content: space-between;

		.small-controls > & {
			height: 25px;

			.vjs-control,
			.vjs-time-control {
				line-height: 25px;
				font-size: 12px;
			}

			.vjs-button {
				> .vjs-icon-placeholder {
					&:before {
						font-size: 16px;
					}

					> img {
						width: 25px;
					}

					> svg {
						width: 13px;
					}
				}
			}
		}

		.vjs-progress-control {
			height: 5px;
			left: 0;
			position: absolute;
			right: 0;
			top: -5px;
			width: 100%;

			.vjs-progress-holder {
				height: 5px;
				margin: 0;
				transition: none;

				.vjs-play-progress {
					&:before {
						display: none;
					}
				}
			}
			.hide-controls > & {
				height: 8px;
				top: -8px;
				.vjs-progress-holder {
					height: 8px;
				}
			}
		}

		.vjs-volume-level {
			&:before {
				display: none;
			}
		}

		.ctv-custom-btn {
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: contain;
		}

		.vjs-time-control {
			@media only screen and (min-width: 430px) {
				display: block;
			}
		}

		.vjs-remaining-time {
			display: none;
		}

		.vjs-custom-control-spacer {
			display: flex;
			width: 100%;
		}
	}

	&:hover {
		.vjs-control-bar {
			:not(.hide-controls) > & {
				transform: translateY(0%);
				transition: transform 0.2s ease-in-out !important;

				.vjs-progress-control {
					height: 8px;
					top: -8px;

					.vjs-progress-holder {
						height: 8px;
					}

					&:hover {
						height: 20px;
						top: -20px;

						.vjs-progress-holder {
							height: 20px;
						}
					}
				}
			}
		}
	}

	.vjs-play-progress,
	.vjs-volume-level {
		background-color: $color-details;
	}
}
